@model BookDisplayModel
@{
    ViewData["Title"] = "Home Page";
}


<div class="my-4" >
   
    <form asp-action="Index" class="row row-cols-lg-auto g-3 align-items-center">


        <div class="col-12">
            <label class="visually-hidden" for="genreId">Genres</label>
            <select class="form-select" id="genreId" name="genreId">

                <option selected>Genre...</option>
                @foreach(var genre in Model.Genres)
                {
                    <option selected="@(genre.Id == Model.GenreId)" value="@genre.Id"> @genre.GenreName </option>
                }

            </select>
        </div>

      <div class="col-12">
            <label class="visually-hidden" for="sterm">Search By Title</label>
        <div class="input-group"> 
          <div class="input-group-text"> </div>
                <input type="text" class="form-control" id="sTerm" name="sTerm" value="@Model.STerm" placeholder="Search By Title">
        </div>
      </div>

      <div class="col-12">
            <button type="submit" class="btn btn-primary">Search</button>
            <a href="/Home/Index" class="btn btn-dark"> Reset </a>
      </div>
    </form>
   
</div>

,
<div class="w-100 d-flex my-3 flex-wrap" >

    @foreach(var book in Model.Books)
    {
        <div class="card mx-3 mb-4" style="width: 18rem;">

            @if (string.IsNullOrEmpty(book.Image)) 
            {
                <img  src="~/images/no image.png" class="card-img-top" alt="No Image">
            }
            else
            {
                <img  src="~/images/@book.Image" class="card-img-top" alt="No Image">
            }
            <div class="card-body">
                <h5 class="card-title"> @book.BookName </h5>
                <p class="card-text">
                    <b>Genre:</b>  @book.GenreName  <br />
                    <b>Author:</b>  @book.AuthorName  <br /> 
                    <b>Price:</b> @book.Price  <br />
                    <b>Quantity:</b>  @book.Quantity  <br />


                </p>
                <a href="#" class="btn btn-primary">Add To Cart</a>
            </div>
        </div>
    }

</div>